<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop</title>
</head>
<body>
    <div class="pet-list-container">
        <div th:each="pet: ${petObj}" class="pet-list-item">
            <p class="pet-item-variable" data-th-text="${pet.name}"></p>
            <p class="pet-item-variable" data-th-text="${pet.age}"></p>
            <img class="pet-item-variable" th:src="${pet.imageUrl}">
        </div>
    </div>
</body>
</html>